<form ngForm="form" (submit)="submit()">
  <div class="form-group">
    <input type="hidden" name="id" [(ngModel)]="service.book.id">
    <label for="title">Title:</label>
    <input type="text" [(ngModel)]="service.book.title" name="title" class="form-control">
  </div>

  <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" [(ngModel)]="service.book.author"  name="author" class="form-control">
    </div>

    
    <div class="form-group">
        <label for="numberOfPages">Number Of Pages:</label>
        <input type="text" name="numberOfPages" [(ngModel)]="service.book.numberOfPages"  class="form-control">
      </div>

      
      <div class="form-group">
          <label for="publishedAt">Published At:</label>
          <input type="text" name="publishedAt"  [(ngModel)]="service.book.publishedAt" class="form-control">
        </div>
      <input type="submit" class="btn btn-dark btn-lg" value="Save Book">
</form>